$orange: #ffa600;
$gray: f3f3f3;
$white: #fff;
$base-color: $orange;

@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}

body {
  background-color: $base-color;
  height: 100%;
}

.wrapper{
  width: 800px;
  margin: 30px auto;
  text-align: center;
  color: $white;
}

h1, h2, h3{
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}


#seconds, #tens{
  font-size: 2em;
}

button{
  @include corners(5px);
  background-color: $base-color;
  color: $white;
  border: solid 1px $white;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  text-decoration: none;
  &:hover{
    @include transition;
    background-color: $white;
    border: solid 1px $white;
    color: $base-color;
  }
}

